version: "3"
services:
  postgre:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 123456

  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: 'bitnami/kafka:latest'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports: 
      - "9092:9092"
    depends_on:
      - zookeeper

  location-event:
    build: ./modules/location-event
    environment:
      - TOPIC_NAME=locations
      - KAFKA_SERVER=kafka:9092
      - DB_USERNAME=postgre
      - DB_PASSWORD=123456
      - DB_HOST=postgre
      - DB_PORT=5432
      - DB_NAME=geoconnections
    depends_on:
      - kafka
      - postgre 

  location-service:
    build: ./modules/location-service
    environment:
      - DB_USERNAME=postgre
      - DB_PASSWORD=123456
      - DB_HOST=postgre
      - DB_PORT=5432
      - DB_NAME=geoconnections
    ports:
      - "5005:5005"
    depends_on:
      - postgre
  person-service:
    build: ./modules/person-service
    environment:
      - DB_USERNAME=postgre
      - DB_PASSWORD=123456
      - DB_HOST=postgre
      - DB_PORT=5432
      - DB_NAME=geoconnections
    ports:
      - "5002:5000"

  connection-service:
    build: ./modules/connection-service
    environment:
      - DB_USERNAME=postgre
      - DB_PASSWORD=123456
      - DB_HOST=postgre
      - DB_PORT=5432
      - DB_NAME=geoconnections
    ports:
      - "5003:5000"
  
  frontend:
    build: ./modules/frontend
    ports:
      - "3000:3000"